body {
    margin: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 3s ease-in;
}

.elem {
    top: 0;
    width: 100%;
    max-height: 98vh;
    object-fit: contain; 
    opacity: 0;
    transition: opacity 3s ease-in;
}

.active {
    opacity: 1;
}