body {
    margin: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.elem {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 98vh;
    object-fit: contain; 
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.active {
    opacity: 1;
}