<div class="file-preview-container">
    <div class="file-preview-inner">
        <div style="position:relative; width: 100%;">
            <span class="modal-x" (click)="close.emit(true)">X</span>
        </div>

        <div>{{ status }}</div>
        <table class="file-preview-info">
            <tr>
                <td>
                    <b>{{ entry?.name }}</b>
                </td>
                <td>
                    [<a *ngIf="entry !== null" [href]="fss.sanitizeFsUrl(entry?.toURL())" title="Copy this link address into a new tab to access the raw file.">Raw</a>]
                </td>
            </tr>
            <tr>
                <td>
                    Type: {{ fileType }}
                </td>
                <td>
                    Size: {{ fss.bytesToDisplay(fileSize, 2) }}
                </td>
            </tr>
            <tr>
                <td>
                    Last modified: {{ fileLastMod }}
                </td>
            </tr>
            <tr>
            </tr>
        </table>

        <app-html-media
            [entry]="entry"
            [parent]="mediaBox"
            [autoplay]="true"
        ></app-html-media>

        <div #mediaBox class="file-preview"></div>
    </div>
</div>
