<div id="file_preview_container" class="file-preview-container">
    <div id="file_preview_inner" class="file-preview-inner">
        <div style="position:relative; width: 100%;">
            <span class="modal-x" onclick="togglePreview(false)">X</span>
        </div>
        <table id="file_preview_info" class="file-preview-info">
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </table>
        <div id="file_preview" class="file-preview"></div>
    </div>
</div>
