<!-- Menu buttons -->
<nav class="menu-button-box">
    <ul>
        <li><a href="javascript:void(0);" (click)="newProduction.emit()">New Production</a></li>
        <li><a href="javascript:void(0);" (click)="newFolder.emit()">New Folder</a></li>
        <li><a href="javascript:void(0);" (click)="uploadFiles.emit()">Upload Files</a></li>
        <li><a href="javascript:void(0);" (click)="uploadFolder.emit()">Upload Folder</a></li>
        <li><a href="javascript:void(0);" (click)="uploadZip.emit()">Upload Production</a></li>
    </ul>
</nav>