<div class="files">

    <!-- Parent directory -->
    <div class="up">
        <a href="javascript:void(0);" (click)="fss.cd('..')">
            <img src="assets/img/folder.png" class="icon" (click)="fss.cd('..')">
        </a>
        &nbsp;
        <a href="javascript:void(0);" (click)="fss.cd('..')">[parent directory]</a>
    </div>

    <!-- File list -->
    <table id="production_list" class="production-list">
        <tr *ngFor="let entry of entries">
            <ng-container *ngIf="entry.isDirectory; then isDirectory; else isFile"></ng-container>

            <!-- Directories -->
            <ng-template #isDirectory>
                <td>
                    <img src="assets/img/folder.png" class="icon" (click)="fss.cd(entry.name)" alt="[folder icon]">
                </td>
                <td class="prod-name">
                    <a href="javascript:void(0);" (click)="fss.cd(entry.name)">{{ entry.name }}</a>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doLaunch(entry)">Launch Show</a>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doRename(entry)">Rename</a>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doDownload(entry)">Download</a>
                </td>
                <td>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doDelete(entry)">Delete</a>
                </td>
            </ng-template>

            <!-- Files -->
            <ng-template #isFile>
                <td>
                    <img src="assets/img/file.png" class="icon" (click)="doSelect(entry)" alt="[file icon]">
                </td>
                <td class="prod-name">
                    <a href="javascript:void(0);" (click)="doSelect(entry)">{{ entry.name }}</a>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doPreview(entry)">Preview</a>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doRename(entry)">Rename</a>
                </td>
                <td>
                    <a [href]="fss.sanitizeFsUrl(entry.toURL())" download>Download</a>
                </td>
                <td>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="doDelete(entry)">Delete</a>
                </td>
            </ng-template>
        </tr>
    </table>

    <!-- TODO: What is this div? -->
    <div id="file_message" class="file-message"></div>
</div>