app-file-browser {
    display: block;
}

a:visited {
    color: blue;
}

a:hover {
    color: darkblue;
}

textarea {
    resize: vertical;
}
    
.up {
    padding: 10px;
}

.dropping {
    border: 5px solid blue;
}