@import '../../../ext/dropdown.css';

a:visited {
    color: blue;
}

a:hover {
    color: darkblue;
}

textarea {
    resize: vertical;
}

.cwd {
    position: relative;
    left: 10px;
    bottom: 17px;
    width: 450px;
}

.usage {
    position: relative;
    left: 475px;
    bottom: 37px;
}

.usage span {
    margin-right: 20px;
}

.files {
    position: relative;
    top: 100px;
    width: 98%;
    height: 400px;
    padding: 10px;
    background-color: white;
}

.file-preview-container {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 3;
    overflow: auto;
}

.file-preview-inner {
    margin: auto;
    width: 75%;
    height: 75vh;
    background-color: steelblue;
    padding: 20px;
    z-index: 3;
    overflow: auto;
}

.file-preview-info {
    padding-bottom: 5px;
}

.file-preview {
    width: 100%;
    text-align: center;
    resize: vertical;
    overflow: auto;
}

.icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    cursor: hand;
}

.production-list {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

    table.production-list th, table.production-list tr {
        outline: 1px solid black;
        border-collapse: collapse;
    }
    
    table.production-list th {
        padding: 0 10px 0 10px;
    }
    
    table.production-list td {
        font-size: .75em;
        padding: 0 20px 0 20px;
    }
    
    table.production-list input {
        font-family: inherit;
        max-width: 140px;
    }

.prod-name {
    
}
    
.up {
    padding: 10px;
}

.dropping {
    border: 5px solid blue;
}