<!-- Header -->
<div>
    <div class="title">
        <h1><span id="display_title" class="visible">Production Menu</span></h1>
    </div>

    <app-alert-bar></app-alert-bar>

    <app-menu-bar
        (newProduction)="fileBrowser.newProduction()"
        (newFolder)="fileBrowser.newFolder()"
        (uploadFiles)="fileBrowser.fileUpload.openFileDialog()"
        (uploadFolder)="fileBrowser.fileUpload.openFolderDialog()"
        (uploadZip)="fileBrowser.fileUpload.openZipDialog()"
    ></app-menu-bar>

</div>

<br><br>

<app-file-browser #fileBrowser mode="BROWSE"></app-file-browser>
